@import url(https://fonts.googleapis.com/css?family=Baloo+Bhaijaan);
body{
  margin:0px;
  padding:0px;
}
.tile_a, .tile_b {
  display:flex;
  justify-content:center;
  align-items:center;
  width:6.5vw;
  height:6.5vw;
  border-bottom:1px solid white;

  color:white;
  font-family: 'Baloo Bhaijaan';
  font-size:2em;
}
.tile_a {
  background-color:#212121;
}
.tile_b {
  background-color:#212121cc;
}
.ticker_board {
  margin:0px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-items:center;
}
#input, #button {
  display:flex;
  justify-content:center;
  align-items:center;

}
.input {
  font-family: 'Baloo Bhaijaan';
  position:fixed;
  bottom:0vh;
  width:30vw;
  height:10vh;
  right:0vw;
}
.button {
  font-family: 'Baloo Bhaijaan';
  position:fixed;
  bottom:12vh;
  height:10vh;
  width:30vw;
  right:0vw;
}
.clear {
  opacity:50%;
}
.a {
  backgrond-color:#212121;
}
